{% extends "base.html" %}

{% block pageTitle %}部门管理{% endblock %}

{% block privateStyle %}
    <link type="text/css" rel="stylesheet" media="screen" href="/statics/css/system/menu.css">
    <link type="text/css" rel="stylesheet" media="screen" href="/statics/css/admins/role_permission.css">
{% endblock %}

{% block PageNavigator %}
    <li><a href="/admin">管理员管理</a></li>
    <li>角色权限管理</li>
{% endblock %}

{% block privateScript %}
    <script type="text/javascript" src="/statics/js/admins/role_permission.js"></script>
    <script type="text/javascript">
        $(function () {
            role_permissionApp.init();
        });
    </script>
{% endblock %}

{% block contentBody %}
    <div class="main-body">
        <div class="main-top">
            <div class="search-box">
                &nbsp;&nbsp;&nbsp;&nbsp;关键字
                <input id="product-Search" class="search form-control" placeholder="搜索...">
                <span class="search-icon"></span>
                <a id="search-link" href="/admin/manager_list">
                    <button type="button" class="btn btn-primary search-btn" id="select-Search">查询</button>
                </a>
                <a href="/admin/manager_list">
                    <button type="button" class="btn btn-warning search-btn" id="select-Reset">重置</button>
                </a>
            </div>
            <div class="btn-box">
                <button class="btn btn-primary" type="button" data-target="#addNewRole">添加角色</button>
            </div>
        </div>
        <div class="main-bottom">
{#            <div class="system-menu-table">#}
{#            {% for m in object_list %}#}
{#                <div class="system-menu-table-body content-table menu-depth-{{ m.level }} content-table-data" data-menu-line="menu-{{ m.parent_id }}">#}
{#                    <ul>#}
{#                        <li class="table-menu-name">{{ m.name }}</li>#}
{#                        <li class="table-list-operation">#}
{#                            <a data-menuId="{{ m.id }}"><span class="fa fa-search"></span></a>#}
{#                            <a data-menuId="{{ m.id }}" data-toggle="modal" data-target="#editFromDialog"><span class="fa fa-edit"></span></a>#}
{#                            <a data-menuId="{{ m.id }}"><span class="fa fa-user"></span></a>#}
{#                            <a data-menuId="{{ m.id }}" onclick="departmentApp.del_department(this)"><span class="fa fa-remove"></span></a>#}
{#                        </li>#}
{#                    </ul>#}
{#                </div>#}
{#            {% endfor %}#}
{#            </div>#}
            <div class="system-menu-table">
                <div class="system-menu-table-body content-table content-table-data">
                    <ul>
                        <li class="table-menu-name">123123123123</li>
                        <li class="table-list-operation">
                            <a><span class="fa fa-search"></span></a>
                            <a data-toggle="modal" data-target="#editFromDialog"><span class="fa fa-edit"></span></a>
                            <a><span class="fa fa-unlock"></span></a>
                            <a><span class="fa fa-user"></span></a>
                            <a onclick="departmentApp.del_department(this)"><span class="fa fa-remove"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}