@charset "UTF-8";

.system-menu-header {
    height: 80px;
    width: 100%;
    padding-top: 32px;
}

.system-menu-table {
    width: 100%;
}
.system-menu-table .system-menu-table-title {
    background: #efefef;
    height: 32px;
    border-bottom: 2px solid #dfdfdf;
    overflow: hidden;
}
.system-menu-table .system-menu-table-title > ul > li {
    height: 32px;
    line-height: 32px;
    border-left: 0px solid #dfdfdf;
    color: #999;
    font-weight: 600;
}
.system-menu-table .system-menu-table-title > ul > li.table-menu-name {
    width: 36%;
}
.system-menu-table .system-menu-table-title > ul > li.table-menu-url {
    width: 25%;
}

.system-menu-table .system-menu-table-body {
    overflow: hidden;
    border-bottom: 1px solid #efefef;
    overflow: hidden;
    height: 36px;
}
.system-menu-table .system-menu-table-body > ul > li {
    border-left: 0px solid #efefef!important;
    height: 36px;
    line-height: 36px;
}
.system-menu-table .system-menu-table-body > ul > li > input[type=text] {
    height: 28px !important;
    line-height: 28px !important;
    width: 64px;
    margin: 4px 0 0 0;
}
.system-menu-table .system-menu-table-body > ul > li.table-menu-name {
    width: 36%;
}
.system-menu-table .system-menu-table-body > ul > li.table-menu-url {
    width: 25%;
}
.system-menu-table .system-menu-table-body > ul > li span {
    cursor: pointer;
}

.system-menu-table .menu-depth-1 {}
.system-menu-table .menu-depth-2 > ul > li.table-menu-name {text-indent: 1.8em;}
.system-menu-table .menu-depth-3 > ul > li.table-menu-name {text-indent: 3.6em;}
.system-menu-table .menu-depth-4 > ul > li.table-menu-name {text-indent: 5.4em;}
.system-menu-table .menu-depth-5 > ul > li.table-menu-name {text-indent: 7.2em;}
.system-menu-table .menu-depth-6 > ul > li.table-menu-name {text-indent: 9.0em;}

.cate_attr_div{
  padding: 9px;
}

#cate_attr_add,#cate_attr_del{
  border:none;
  padding:0px;
  margin: 3px;
}

.modal-content {
    -webkit-border-radius: 7px !important;
    -moz-border-radius: 7px !important;
    border-radius: 7px !important;
}

.modal-header {

}

.modal-body{
    height: 380px;
}

.modal-body-2{
    margin-top: 20px;
    height: 40px;
    text-align: center;
    margin-left: 130px;
}
.modal-text {
    margin-top: 8px;
}

.form-group{
    margin-top: 20px;
}

.close{
    color: #fff;
}

.category-form {
    min-width: 900px;
}

.search-input-box {
    display: inline-block;
    width: 400px;
    margin-left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.search-button-box {
    display: inline-block;
    width: 300px;
}

.search-btn {
    margin-top: -3px;
    margin-left: 10px;
    vertical-align: middle;
    width: 40px;
    padding: 0px;
    height: 26px;
    line-height: 24px;
    font-size: 12px;
    display: inline-block;
}

.second-line-btn {
    margin: 10px 0 0 10px;
    padding: 0px;
    width: 80px;
    font-size: 12px;
}

.menu-depth-3 .table-menu-name {
    padding-left: 3.6em;
}

.list-group-item {
    padding: 0px!important;
}

.category-body {
    width: 250px;
    border: 1px solid #000;
}

.category-body-list {
    width: 250px;
    border: 1px solid #000;
    height: 420px;
}

.overflow {
    width: 220px;
    overflow: auto;
    height: 400px;
}

.center-line {
    width: 216px;
    text-align: center;
}

.active {
    background-color: #009DD9;
}