.select {
    margin-top: 10px;
    height: 34px;
    line-height:34px;
    width: 1280px;
}

.form_date {
    display: inline-table;
    width: 140px;
}

.select-table {
    display: inline-table;
    width: 230px;
    vertical-align: top;
}

.select-filter {
    display: inline-table;
    width: 730px;
    vertical-align: top;
}

.select-text {
    display: inline-table;
    width: 140px;
    vertical-align: top;
}

.select-product {
    width: 140px;
    display: inline;
    margin-left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.select-brand {
    width: 140px;
    display: inline;
    margin-left: 10px;
}

input[readonly] {
    background-color: #fff !important;
    -webkit-border-radius: 3px 0 0 3px !important;
    -moz-border-radius: 3px 0 0 3px !important;
    border-radius: 3px 0 0 3px !important;
}

.js-search-button {
    margin-top: 24px;
}

.first {
    margin-left: 0px;
}

.select .input-group {
    float: left;
}

.select-update-time {
    display: inline;
}

.select-search {
    display: inline-block;
    width: 60%;
    margin-left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.select-search-btn {
    margin-top: -3px;
    margin-left: 10px;
    vertical-align: middle;
    width: 40px;
    padding: 0px;
    height: 26px;
    line-height: 24px;
    font-size: 12px;
}

.select-search-icon {
    top: 8px;
    right: 162px;
    height: 16px;
    width: 16px;
    position: relative;
    float: right;
    cursor: pointer;
    background: url("/statics/imgs/icon/Search-icon.png");
}

.product-body {
    min-width: 920px;
    border: 5px;
    padding: 10px 0 0 0;
    float: left;
    min-height: 300px;
}

.product-info-box {
    border: solid #d3d3d3 1px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 10px 0 0 0;
    background: #fff;
    position: relative;
    height: 100px;
    color: #7f8995;
}

.product-body :hover {
    background: #E0F8FA;
}

.product-info-box a {
    color: #008aff;
    margin-left: 30px;
}

.product-body-number {
    padding: 0px 0 0 0;
    margin: 10px 0 0 12px;
    vertical-align: top;
}

.product-info-box-imgBox {
    padding-left: 13px;
}

.product-info-box-img {
    margin-top: 0px;
    height: 98px;
    width: 100px;
}

.product-info-box-text {
    width: 76%;
    max-width: 840px;
    min-width: 400px;
    height: 100%;
    vertical-align: bottom;
    padding-top: 8px;
    padding-left: 30px;
}

.product-info-box-text li {
    margin-top: 10px;
    width: 26%;
    max-width: 400px;
    float: left;
    height: 16px;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.link-info {
    display: inline-block;
    padding: 0;
}

.equal {
    display: table;
    border-collapse: collapse;
    margin-left: 10px;
}

.row {
    width: 216px;
    display: table-row;
    margin: 10px 0 0 10px;
}

.row div {
    display: inline-block;
    text-align: center;
}

.row h1 {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 30px;
}

div[data-name=main] {
    border: solid #d3d3d3 1px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
    position: relative;
    height: 100px;
    color: #7f8995;
}

div[data-name=main]>div {
    height: 98px;
    line-height: 98px;
}

div[name=img], div[name=n], div[name=pn] {
    width: 120px;
    max-width: 120px;
    padding: 0 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

div[name=c1], div[name=c2], div[name=c3], div[name=c], div[name=b], div[name=s], div[name=status] {
    width: 100px;
    max-width: 100px;
    padding: 0 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

div[name=edit], div[name=d], div[name=edit-model] {
    width: 100px;
    max-width: 100px;
    word-wrap: break-word;
    vertical-align: top;
}

div[data-name=main] div[name=edit] {
    padding: 30px 5px 0 5px;
    line-height: 20px!important;
}

div[data-name=main] div[name=edit-model] {
    padding: 40px 5px 0 5px;
    line-height: 20px!important;
}

div[data-name=main] div[name=d] {
    padding: 30px 5px 0 5px;
    line-height: 20px!important;
}

div[data-name=preview-box] {
    overflow-y: hidden;
    overflow-x: auto;
}

.modal-body .js-preview-list {
    margin: 30px auto;
    line-height: 90px;
    height: 90px;
    position: absolute;
}

.modal-body .js-preview-list>div {
    margin-right: 10px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

div[data-name=previewImg] {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    text-align: center;
    top: 0;
    left: 0;
    display: none;
    z-index: 999;
}

div[data-name=previewImg]>img {
    position:relative;
    margin:50px auto;
    max-width: 600px;
    max-height: 600px;
}

div[data-name=previewImgLeft], div[data-name=previewImgRight] {
    width: 30%;
    height: 100%;
    position: relative;
    font-size: 50px;
}

div[data-name=previewImgLeft]:hover, div[data-name=previewImgRight]:hover {
    background: rgba(255,255,255,0.1);
    cursor: pointer;
}

div[data-name=previewImgLeft] {
    float: left;
}

div[data-name=previewImgRight] {
    float: right;
}
