.info {
    min-width: 920px;
}

.info-title {
    font-size: 14px;
    font-weight: 600;
    height: 50px;
    padding-top: 20px;
}

.info-box {
    font-size: 0px;
    margin-bottom: 10px;
}

.info-box>* {
    font-size: 14px;
    font-weight: normal;
}

.info-box>label {
    width: 120px;
    min-width: 120px;
    text-align: right;
    font-size: 12px;
}

.info-box>input {
    margin-left: 10px;
    display: inline-block;
    width: 30%;
    min-width: 430px;
}

.info-box>select {
    margin-left: 10px;
    display: inline-block;
    width: 30%;
    min-width: 430px;
}

.info-box>div[name=type] {
    margin-left: 10px;
    width: 30%;
    display: inline-block;
    min-width: 430px;
}

.info-box>div[name=district] {
    margin-left: 10px;
    width: 30%;
    display: inline-block;
    min-width: 430px;
}

div[name=district]>select {
    width: 32%;
    display: inline-block;
    margin-left: 2%;
}

div[name=district]>select:first-child {
    margin-left: 0%!important;
}

.info-box>div[name=date] {
    margin-left: 10px;
    margin-bottom: -12px;
    width: 30%;
    display: inline-block;
    min-width: 430px;
}

.info-box>div[name=date]>input {
    width: 85%;
    background-color:#fff!important;
}

.info-box>div[name=date]>span {
    height: 34px;
}

.info-box>div[name=type]>* {
    display: inline-block;
}

.info-box>div[name=type]>input[type=radio] {
    width: 13px;
    vertical-align:top;
    margin-right: 3px;
}

.info-box>div[name=type]>div {
    width: 15%;
    font-size: 14px;
}


.module {
    position: relative;
    font-size: 12px;
    color: #555;
    display: inline-block;
    height: 34px;
    background: #eee;
    vertical-align: top;
    padding-top: 9px;
    padding-left: 9px;
    border:1px solid #ccc;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.module-34px {
    width: 34px;
    margin-left: -34px;
}

.module-44px {
    margin-left: -44px;
    width: 44px;
}

.module-76px {
    margin-left: -76px;
    width: 76px;
}