@charset "UTF-8";

body, html {
    font-size: 12px;
    color: #7f8995;
    font-family: arial, "Microsoft Yahei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
    margin: 0px;
    padding: 0px;
    -webkit-font-smoothing: antialiased !important;
    height: 100%;
    width: 100%;
    position: relative;
    /*min-width: 1280px;*/
    min-width: 600px;
    /*background: #f5f5f5;*/
    background: url("/statics/imgs/accounts/login-background.png") repeat-x;
    overflow-y: hidden;
    overflow-x: hidden;
}

* {
    -webkit-font-smoothing: antialiased !important;
}

input, textarea, select, button,
input:focus, textarea:focus, select:focus, button:focus,
input:active, button:active, select:active, textarea:active,
input:visited, button:visited, select:visited, textarea:visited {
    outline: none !important;
    resize: none !important;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #ddd !important;
}

input:-moz-placeholder, textarea:-moz-placeholder {
    color: #ddd !important;
}

input::-moz-placeholder, textarea::-moz-placeholder {
    color: #ddd !important;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #ddd !important;
}

input[type=radio], input[type=checkbox] {
    /*display: none;*/
}

input[type=radio] + label:before {
    content: "";
    display: inline-block;
    width: 13px;
    height: 13px;
    vertical-align: middle;
    margin: -2px 6px 0 0;
    background-color: #fafafa;
    border-radius: 8px;
    border: 1px solid #aaa;
    cursor: pointer;
}

input[type=radio]:checked + label:before {
    content: "\2022";
    color: #37a515;
    background-color: #fff;
    font-size: 2.5em;
    text-align: center;
    line-height: 12px;
    text-shadow: 0px 0px 3px #eee;
    margin: -2px 6px 0 0;
}

input[type=checkbox] + label:before {
    content: "";
    display: inline-block;
    width: 13px;
    height: 13px;
    vertical-align: middle;
    margin: -2px 6px 0 0;
    background-color: #fafafa;
    border-radius: 2px;
    border: 1px solid #aaaaaa;
    cursor: pointer;
}

input[type=checkbox]:checked + label:before {
    content: "\2714";
    color: #37a515;
    background-color: #fff;
    text-align: center;
    line-height: 12px;
    text-shadow: 0px 0px 3px #eee;
    margin: -2px 6px 0 0;
}

input[type=checkbox]:disabled + label:before,
input[type=radio]:disabled + label:before {
    background-color: #ddd;
}

input[type=checkbox] + label:before,
input[type=radio] + label:before {
    font-weight: 400 !important;
}

label.checkbox-radio {
    font-weight: normal;
    cursor: pointer;
}

/*input[type=checkbox] {*/
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    /*background: url("/statics/imgs/icon/checkbox.png") no-repeat left;*/
    /*height: 12px;*/
    /*width: 13px;*/
    /*cursor: pointer;*/
/*}*/

/*input[type=checkbox]:hover {*/
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    /*background: url("/statics/imgs/icon/checkbox-hover.png") no-repeat left;*/
    /*height: 12px;*/
    /*width: 13px;*/
    /*cursor: pointer;*/
/*}*/

/*input[type=checkbox]:checked {*/
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    /*background: url("/statics/imgs/icon/checkbox-checked.png") no-repeat left bottom;*/
    /*height: 12px;*/
    /*width: 13px;*/
    /*cursor: pointer;*/
/*}*/

/*input[type=checkbox]:checked:hover {*/
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    /*background: url("/statics/imgs/icon/checkbox-checked-hover.png") no-repeat left bottom;*/
    /*height: 12px;*/
    /*width: 13px;*/
    /*cursor: pointer;*/
/*}*/

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #999;
}

a:hover, a:active, a:focus, a:visited, a:link {
    text-decoration: none;
    color: #333;
}

.left {
    float: left;
}

.right {
    float: right;
}

.hide {
    display: none;
}

.inline {
    display: inline;
}
.inline-table {
    display: inline-table;
}
.inline-block {
    display: inline-block;
}
.list-type-none {
    list-style-type: none;
}

.menu-logo {
    background: url("../imgs/base-logo.png") no-repeat 15px 15px/80% 35%;
    width: 150px;
    height: 100%;
    display: inline-block;
    text-align: center;
    line-height: 48px;
    font-size: 17px;
}

.body-normal {
    padding-left: 54px;
    padding-top: 48px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

/* header body */
.public-header-body {
    height: 70px;
    /*border-bottom: 1px solid #3f536b;*/
    /*background: -webkit-linear-gradient(to top, #364869, #314464);*/
    /*background: linear-gradient(to top, #364869, #314464);*/
    background: transparent;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 200;
    width: 100%;
    min-width: 920px;
}

.public-header-body .left-menu-icon {
    width: 30px;
    height: 48%;
    display: inline-block;
    text-align: center;
    line-height: 65px;
    font-size: 20px;
    color: #000;
}

.public-header-body .left-menu-icon .fa {
    color: #fff !important;
}

.public-header-body .header-clock {
    vertical-align: bottom;
    margin-top: 20px;
    padding-top: 10px;
    width: 230px;
    height: 36px;
    background: #2D4464;
    -webkit-border-radius: 18px;
    -moz-border-radius: 183px;
    border-radius: 18px;
    border: 1px #243750 solid;
    box-shadow:0 1px #456791;
    color: #fff;
    text-align: center;
    margin-left: 50px;
}

.public-header-body .header-clock >span {
    color: #1d2c41;
    text-shadow: 1px 0 rgba(255,255,255,.25);
}

.public-header-body .fa {
    color: #c3ccd5;
}

.public-header-body .left-menu-icon .fa-bars {
    display: inline;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.public-header-body .left-menu-icon .fa-th-large {
    display: none;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.public-header-body .account-menu-tag {
    padding: 0 10px 0 20px;
    margin-right: 10px;
    line-height: 70px;
}

.public-header-body .account-menu-tag > a {
    line-height: 70px;
    color: #c3ccd5;
    font-size: 15px;
    font-weight: bold;
}

.public-header-body .account-menu-tag > a:hover {
    color: #fff;
}

.public-header-body .account-menu-tag span {
    height: 36px;
    width: 36px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    background-size: cover;
    display: inline-block;
    float: left;
    margin: 18px 12px 0 0;
}

.public-header-body .account-menu-tag > ul {
    left: -62px !important;
    width: 180px !important;
}

.public-header-body .account-menu-tag > ul:before {
    border-bottom: 10px solid #ccc;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 10px;
    content: '';
}

.public-header-body .account-menu-tag > ul:after {
    border-bottom: 9px solid #fff;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    content: '';
    position: absolute;
    right: 11px;
    top: -9px;
}

.public-header-body .account-message-tag {
}

.public-header-body .account-message-tag > a {
    position: relative;
    line-height: 70px;
    padding: 0 15px;
    font-size: 23px;
}

.public-header-body .account-message-tag > a > span.new-message {
    position: absolute;
    height: 12px;
    width: 12px;
    background: #f00;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    top: -2px;
    right: 3px;
    line-height: 12px;
    text-align: center;
    color: #fff;
    font-size: 10px !important;
}

.public-header-body .account-lock-tag {
}

.public-header-body .account-lock-tag > a {
    line-height: 70px;
    padding: 0 15px;
    font-size: 25px;
}

/* left menu */
.left-menu-body {
    width: 54px;
    position: fixed;
    left: 0px;
    top: 70px;
    /*border-right: 1px solid #3f536b;*/
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    padding-top: 0px;
    z-index: 199;
    background: transparent;
    overflow-y: auto;
    /*background: -webkit-linear-gradient(to top, #7c8194, #314464);*/
    /*background: linear-gradient(to top, #7c8194, #314464);*/
    /*-webkit-box-shadow: inset 0px 0px 5px rgba(136, 136, 136, .25);*/
    /*-moz-box-shadow: inset 0px 0px 5px rgba(136, 136, 136, .25);*/
    /*box-shadow: inset 0px 0px 5px rgba(136, 136, 136, .25);*/
}

.left-menu-open {
    padding-left: 180px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.left-menu-open #menu-point {
    background: url("/statics/imgs/icon/menu-point-close.png") no-repeat;
    height: 8px;
    width: 8px;
    margin: 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}



.left-menu-open .left-menu-body {
    width: 180px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    background: transparent;
    /*background: -webkit-linear-gradient(to top, #7c8194, #314464);*/
    /*background: linear-gradient(to top, #7c8194, #314464);*/
}

.left-menu-open .public-header-body .left-menu-icon .fa-bars {
    display: none;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.left-menu-open .public-header-body .left-menu-icon .fa-th-large {
    display: inline;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.left-menu-body .menu-item {
    overflow: hidden;
    margin: 0 5px 10px 5px;
    /*border-bottom: 1px solid #3f536b;*/
    /*background: rgba(0, 0, 0, .05);*/
}

.left-menu-body .menu-item a {
    display: block;
    line-height: 36px;
    height: 36px;
    color: #333;
    position: relative;
    width: 100%;
    overflow: hidden;
    /*padding-top: 5px;*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.05);
}

.left-menu-body .menu-item a:hover {
    background: #3f536b;
    /*-webkit-box-shadow: 0px 0px 5px rgba(136, 136, 136, .25) inset;*/
    /*-moz-box-shadow: 0px 0px 5px rgba(136, 136, 136, .25) inset;*/
    /*box-shadow: 0px 0px 5px rgba(136, 136, 136, .25) inset;*/
   background: rgba(0, 0, 0, .2);
}

.left-menu-body .menu-item a:hover span {
    color: #fff;
}

.left-menu-body .menu-item a .fa {
    line-height: 36px;
    width: 44px;
    text-align: center;
    display: inline-block;
    font-size: 17px;
    float: left;
    color: #c3ccd5;
}

.left-menu-body .menu-item a .menu-name {
    display: none;
    line-height: 36px;
    height: 36px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    margin-left: -10px;
    float: left;
    color: #c3ccd5;
}

.left-menu-body .menu-item .menu-item-child {
    width: 100%;
    display: none;
    overflow: hidden;
    padding: 0;
    /*background: rgba(0, 0, 0, .9);*/
}

.left-menu-body .menu-item .menu-item-child a {
    line-height: 30px;
    height: 30px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    /*background: rgba(49, 68, 100, .1);*/
    /*padding: 5px 0 5px 0;*/
}

.left-menu-body .menu-item .menu-item-child a:hover {
    background: rgba(0, 0, 0, .2);
    color: #000;
    /*padding: 5px 0 5px 0;*/
}

.left-menu-body .menu-item .menu-item-child .menu-name {
    margin-left: 44px;
    height: 30px;
    line-height: 30px;
    color: #fff;
}

.left-menu-body .actived {
    background: rgba(0, 0, 0, .2);
    /*-webkit-box-shadow: 0px 0px 5px rgba(0, 32, 75, .25) inset;*/
    /*-moz-box-shadow: 0px 0px 5px rgba(0, 32, 75, .25) inset;*/
    /*box-shadow: 0px 0px 5px rgba(0, 32, 75, .25) inset;*/
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.left-menu-body .actived a .fa {
    color: #c3ccd5;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.left-menu-body .actived a:hover {
    background: #3f536b;
    /*-webkit-box-shadow: 0px 0px 5px rgba(0, 32, 75, .25) inset;*/
    /*-moz-box-shadow: 0px 0px 5px rgba(0, 32, 75, .25) inset;*/
    /*box-shadow: 0px 0px 5px rgba(0, 32, 75, .25) inset;*/
}

.left-menu-body .actived a:hover .fa {
    color: #c3ccd5;
}

.left-menu-body .actived .menu-item-child {
    display: none;
}

.left-menu-open .actived {
    background: rgba(0, 0, 0, .0);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.left-menu-open .actived #menu-point {
    height: 15px;
    width: 6px;
    background: url("/statics/imgs/icon/menu-point-open.png");
    margin-top: 10px;
}

.left-menu-open .actived a .fa {
    color: #fff;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.left-menu-open .actived > a:hover {
    background: rgba(0, 0, 0, .2);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.left-menu-open .actived > a:hover span {
    color: #c3ccd5;
}

.left-menu-open .actived > a:hover .fa {
    color: #c3ccd5;
}

.left-menu-open .left-menu-body .menu-item a .menu-name {
    display: inline-block;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.left-menu-open .left-menu-body .actived .menu-item-child {
    display: block;
}

.left-menu-open .left-menu-body .actived .menu-item-child a:hover .menu-name {
    color: #fff;
}

.left-menu-body .menu-item-child a.actived {
    background: rgba(0, 0, 0, .2) url("../imgs/base-menu-item-child-actived.png") left no-repeat;
}

.left-menu-body .menu-item-child a.actived:hover {
    background: rgba(0, 0, 0, .2) url("../imgs/base-menu-item-child-actived.png") left no-repeat;
    color: #fff;
}

.locked-screen-overly {
    background: #000;
    -moz-opacity: 0.3;
    opacity: 0.3;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 9999;
    display: none;
}

.unlock-icon {
    width: 48px;
    height: 48px;
    position: absolute;
    top: -42px;
    left: 0px;
    font-size: 18px;
    line-height: 48px;
    text-align: center;
    display: block;
    color: #000;
    background: #fff;
}

/** content main **/
.content-body-main {
    margin-top: 0px;
    overflow: hidden;
    /*background: url("/statics/imgs/content-body-main-head.jpg") no-repeat;*/
    /*-webkit-border-radius: 10px 0px 0px 0px;*/
    /*-moz-border-radius: 10px 0px 0px 0px;*/
    /*border-radius: 10px 0px 0px 0px;*/
    position: relative;
    overflow-y: auto;
    background: #f5f5f5;
}
.content-body {
    margin-top: 22px;
    overflow: hidden;
    /*background: url("/statics/imgs/content-body-main-head.jpg") no-repeat;*/
    /*-webkit-border-radius: 10px 0px 0px 0px;*/
    /*-moz-border-radius: 10px 0px 0px 0px;*/
    /*border-radius: 10px 0px 0px 0px;*/
    position: relative;
    background: #f5f5f5;
}

.content-body .tabs-title {
    position: relative;
    height: 30px;
    border-bottom: 1px solid #d3d3d3;
    padding-left: 15px;
}

.content-body .tabs-title>div[name=left] {
    position: absolute;
    width: 20px;
    height: 30px;
    top: 0;
    left: 0;
    border: 0px;
    cursor: default;
    margin: 0px;
}

.content-body .tabs-title>div {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 3px;
    margin-left: 5px;
    height: 22px;
    width: 100px;
    -webkit-border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px;
    border-top: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    vertical-align: top;
    line-height: 22px;
    cursor: pointer;
}

.content-body .tabs-title>iframe {
    background: #f5f5f5;
}

.content-body .tabs-title>div.selected {
    margin-bottom: 0px!important;
    height: 25px!important;
    line-height: 25px!important;
    border-top: 1px solid #4a4a4a;
    border-left: 1px solid #4a4a4a;
    border-right: 1px solid #4a4a4a;
    background: #d3d3d3;
}

.content-body .tabs-main {
    position: relative;
    width: 100%;
}

.content-body .tabs-main>div {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.content-body .tabs-main>div>iframe {
    position: relative;
    width: 100%;
    display: none;
    height: auto;
}

.content-body .tabs-main>div>iframe.show {
    display: block;
}

/*.content-body .content-body-sheet {*/
    /*position: relative;*/
    /*!*overflow: hidden;*!*/
    /*padding: 0 40px 100px 40px;*/
    /*margin-bottom: -60px;*/
/*}*/
/*.content-body-main-head {*/
    /*margin-top: 70px;*/
    /*overflow: hidden;*/
    /*background: #000!important;*/
    /*!*-webkit-border-radius: 10px 0px 0px 0px;*!*/
    /*!*-moz-border-radius: 10px 0px 0px 0px;*!*/
    /*!*border-radius: 10px 0px 0px 0px;*!*/
/*}*/

.content-body-main-title{
    margin-top: 30px;
    height: 50px;
    background: #f5f5f5;
}

.content-body-title {
    margin-top: 100px;
    line-height: 80px;
}

#breadcrumb li a{
    color: #7f8995!important;
}
#breadcrumb li{
    color: #7f8995!important;
}

#content-body-main-title-img{
    position: relative;
    margin-top: -8px;
    width: 44px;
}

.content-body-title-hr {
    position: relative;
    top:8px;
    height: 1px;
    background: #ccc;
    width:150%;
    z-index: 4;
}

.breadcrumbs-link {
    margin-top: -40px;
    padding-left: 50px;
    height: 12px;
    position: relative;
}

.content-body-main .content-text {
    background: #cccccc;
    height: 360px;
}

.content-table {
    background: #fff;
}

.content-table > ul {
    margin: 0 -10px 0 -1px;
    padding: 0px;
    list-style-type: none;
}

.content-table > ul > li {
    float: left;
    border-left: 1px solid #dfdfdf;
    padding-left: 8px;
}

.content-table > ul > li.table-list-no {
    width: 80px;
}

.content-table > ul > li.table-list-sort {
    width: 80px;
}

.content-table > ul > li.table-list-operation {
    float: right;
    width: 240px;
}

.content-table > ul > li.table-list-operation-attr-set {
    float: right;
    padding-top: 10px;
}

.content-table > ul > li.table-list-checkbox {
    width: 36px;
}

.content-table-data {
}

.table-mouse-over {
    background: #E0F8FA;
}

.footer {
    position: relative;
    margin-top: 40px;
    bottom: 0px;
    left: -40px;
    height: 60px;
    width: 120%;
    z-index: 999;
    background: #767C90;
    /*background: -webkit-linear-gradient(to top, #364869, #314464);*/
    /*background: linear-gradient(to top, #364869, #314464);*/
}
.content-footer {
    position: relative;
    bottom: 0px;
    height: 60px;
    width: 100%;
    background: #f5f5f5;
    /*background: -webkit-linear-gradient(to top, #364869, #314464);*/
    /*background: linear-gradient(to top, #364869, #314464);*/
}

.footer-copyright {
    padding-top: 10px;
    float: right;
    position: relative;
}

/* bootstrap css */
input[type=text], input[type=password] {
    height: 34px !important;
    line-height: 34px !important;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    border-radius: 3px !important;
}

.control-label {
    color: #999 !important;
}

.btn {
    line-height: 34px;
    height: 34px;
    padding: 0 20px;
}

.btn-primary {
    background: #428bca;
    border: 0px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:visited {
    color: #fff;
    background: #3276b1 !important;
}

.btn-default {
    color: #7f8995;
    border: 1px #ccc solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.btn-default:hover, .btn-default:active, .btn-default:focus, .btn-default:visited {
    background: #9bafbf;
    color: #fff;
}

.btn-important {
    background: #314464;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.btn-important:hover, .btn-important:active, .btn-important:focus, .btn-important:visited {
    color: #fff;
    background: #286072;
}

.btn-success {
    background: #45b6b0;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.btn-success:hover, .btn-success:active, .btn-success:focus, .btn-success:visited {
    color: #fff;
    background: #3da09a;
}

.btn-warning {
    background: #fbb44c;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: #fbb44c;
}

.btn-warning:hover, .btn-warning:active, .btn-warning:focus, .btn-warning:visited {
    color: #fff;
    background: #eda849;
}

/*底部按钮 DIV*/
.bottom-btn-106 {
    margin-top: 106px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.bottom-btn-40 {
    margin-top: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.bottom-btn-multiple>button {
    margin-left: 20px;
    display: inline-block;
}

.modal-content {
    -webkit-border-radius: 7px !important;
    -moz-border-radius: 7px !important;
    border-radius: 7px !important;
    border: 1px solid rgba(100, 100, 100, .2) !important;
}

.modal-body {
    position: relative;
    background: #fff;
}

.modal-header {
    border: 0px !important;
    -webkit-border-radius: 5px 5px 0px 0px !important;
    -moz-border-radius: 5px 5px 0px 0px !important;
    border-radius: 5px 5px 0px 0px !important;
    background: #314464;
    color: #fff;
}

.modal-footer {
    border: 0px !important;
    background: #fff;
}

/* select2 */
.select2-container--default .select2-selection--single {
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    border-radius: 3px !important;
    border: 1px solid #dfdfdf;
}

.select2-container .select2-selection--single {
    height: 34px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 34px !important;
    color: #333 !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 32px !important;
}

li.select2-results__option .menu-depth-1 {
    text-indent: 0px;
}

li.select2-results__option .menu-depth-2 {
    padding-left: 1.2em;
}

li.select2-results__option .menu-depth-3 {
    padding-left: 2.4em;
}

li.select2-results__option .menu-depth-4 {
    padding-left: 3.6em;
}

li.select2-results__option .menu-depth-5 {
    padding-left: 4.8em;
}

li.select2-results__option .menu-depth-6 {
    padding-left: 6.0em;
}

li.select2-results__option .menu-depth-7 {
    padding-left: 7.2em;
}


/*分页跳转*/
.pagination-div {
    margin: 40px 0;
}

.pagination {
    margin: 0 !important;
}

/*滚动条*/
::-webkit-scrollbar {
   width:10px;
   margin-right:2px
}
::-webkit-scrollbar:horizontal {
   height:10px;
   margin-bottom:2px
}
::-webkit-scrollbar-track {
    border-radius: 10px;
}
::-webkit-scrollbar-track-piece {
    background-color: rgba(0,0,0,.2);
   border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    width:10px;
    border-radius: 5px;
    background: #fff;
}


/* tab */
.tab, .tab-left {
    height: 200px;
    width: 100%;
    position: relative;
}

.tab > .tab-title {
    height: 30px;
    border-bottom: 1px solid #d3d3d3;
}

.tab > .tab-title > div.selected {
    border-bottom: 2px #314464 solid;
    color: #314464;
}

.tab > .tab-main {
    height: 90%;  /* tab height - tab-title height */
    overflow: hidden;
}

.tab > .tab-main > div {
    position: absolute;
    padding: 8px;
    font-size: 14px;
    height: 100%;
    width: 100%;
}

.tab-left > div {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.tab-left > .tab-title {
    width: 120px;
    height: 100%;
    border-right: 1px solid #d3d3d3;
    border-bottom: 0px;
}

.tab-left > .tab-title >div {
    margin: 0!important;
}

.tab-left > .tab-title > div.selected {
    border-right: 2px #314464 solid;
    border-bottom: 0px!important;
    color: #314464;
}

.tab-left > .tab-main {
    height: 100%;
    position: absolute;
    width: 90%;
}

.tab-left > .tab-main > div {
    position: absolute;
    padding: 8px;
    font-size: 12px;
    height: 100%;
    width: 100%;
}

.tab-title > div {
    margin-right: 5px;
    height: 30px;
    width: 90px;
    line-height: 30px;
    text-align: center;
    padding: 0px 10px;
    display: inline-block;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.tab table {
    margin: 0 auto;
}

.tab  th, .tab  td {
    font-weight: normal;
    font-size: 12px;
}


/* close-btn */
.close-btn {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    overflow: hidden;
    cursor: pointer;
}
.close-btn:hover::before, .close-btn:hover::after {
    background: #1ebcc5;
}
.close-btn::before, .close-btn::after {
    content: '';
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    background: #000;
    height: 2px;
    margin-top: 0px;
}
.close-btn::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.close-btn::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}