<form class="form-horizontal" id="modal-data-ruleadd">
    <div class="form-group hidden">
          <div class="col-sm-6">
              <input name="id" type="text" value="{{ cid }}">
          </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">规则名</label>
        <div class="col-sm-6">
            <input type="text" name="rule-name" class="form-control" placeholder="" onchange="ruleApp.rule_name_change()">
            <label id="rule-name-repeat"></label>
        </div>
    </div>
</form>
