{% extends "base.html" %}

{% block pageTitle %}管理{% endblock %}

{% block privateStyle %}
    <link type="text/css" rel="stylesheet" media="screen" href="/statics/css/property/property_img.css">
{% endblock %}

{% block PageNavigator %}
    <li>楼盘管理</li>
    <li>楼盘编辑</li>
    <li>添加图片</li>
{% endblock %}

{% block privateScript %}
    <script type="text/javascript" src="/statics/js/property/property_img.js"></script>
    <script type="text/javascript">
        var imgArr = new Array();
        estateImgEditApp.init();
    </script>
{% endblock %}

{% block contentBody %}
    {#    {% for item in object_list %}#}
    {#        {{ item.realname }}#}
    {#    {% endfor %}#}
    <section>
        <div name="title">{ {后台获取名称} }</div>
        <div class="img-box">
            <div><img name="uploadimg" src="/statics/imgs/upload-img.png"></div>
        </div>
        <input id="getImg" type="file" class="hidden">
    </section>
    <div class="bottom-btn-40"><button class="btn btn-primary" type="button">确定</button></div>
{% endblock %}
