/*搜索*/
.search-box {
    width: 530px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.search {
    display: inline-block;
    width: 60%;
    margin-left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.search-icon{
    top: 8px;
    right:162px;
    height: 16px;
    width: 16px;
    position: relative;
    float: right;
    cursor: pointer;
    background: url("/statics/imgs/icon/Search-icon.png");
}

.search-btn {
    margin-top: -3px;
    margin-left: 10px;
    vertical-align: middle;
    width: 40px;
    padding: 0px;
    height: 26px;
    line-height: 24px;
    font-size: 12px;
}

/*按钮行*/
.btn-box > * {
    margin: 0 0 0 10px;
    padding: 0px;
    width: 80px;
    font-size: 12px;
}

.table-list-operation a {
    margin-right: 20px;
}

.table-list-operation span {
    cursor: pointer;
}

.fa-edit, .fa-user {
    color: #65c3df;
}

.fa-remove {
    color: #ea3f3f;
}