.main-body {
    width: 100%;
    min-width: 920px;
    padding: 0;
}

.body-box > table {
    width: 230px;
    border: solid #d3d3d3 1px;
    -webkit-border-radius: 3px!important;
    -moz-border-radius: 3px!important;
    border-radius: 3px!important;
    background: #fff;
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
    margin-top: 20px;
}

.head-td {
    height: 40px;
    font-size: 13px;
    padding-left: 20px;
    background: #c7d5e0;
    width: 230px
}

.body-td {
    height: 40px;
    padding-left: 40px;
}