.main-body {
    width: 100%;
    min-width: 920px;
    padding: 0;
}

.body-box > div {
    border: solid #d3d3d3 1px;
    -webkit-border-radius: 3px!important;
    -moz-border-radius: 3px!important;
    border-radius: 3px!important;
    background: #fff;
    display: block;
    margin-right: 20px;
    margin-top: 20px;
}

.head {
    height: 40px;
    font-size: 13px;
    padding-left: 20px;
    background: #c7d5e0;
    padding-top: 12px;
}

.body {
    padding-left: 20px;
}

.body>div {
    height: 30px;
    padding-top: 8px;
    display: inline-block;
}

#role-name ,#role-info  {
    width: 500px;
}

#role-name .head, #role-info .head {
    width: 500px;
}

#role-member ,#role-permission  {
    max-width: 1920px;
    width: 100%;
    min-width: 920px;
}

#role-member .head, #role-permission .head {
    width: 100%
}

#role-member .body > div {
    width: 14%
}