<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block pageTitle %}{% endblock %} - 乐居数据中心管理</title>
    <link type="text/css" rel="stylesheet" media="screen" href="/statics/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" media="screen" href="/statics/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" media="screen" href="/statics/plugins/sweetalert/sweetalert.css">
    <link type="text/css" rel="stylesheet" media="screen"
          href="/statics/plugins/jquery-easyui/themes/default/easyui.css">
    <link type="text/css" rel="stylesheet" media="screen" href="/statics/css/base.css">
    {% block privateStyle %}{% endblock %}
</head>
<body class="body-normal left-menu-open">
    <!-- public header -->
    <div class="public-header-body">
        <div class="menu-logo left"></div>
        <div class="header-clock left" id="clock"></div>

        <!-- account menu -->
        <div class="account-menu-tag right dropdown">
            <a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle">
                <span class="account-avatar" style="background-image: url(/statics/imgs/demo/01.png)"></span>
                hxhuang
            </a>
            <ul class="dropdown-menu">
                <li><a href="/accounts/profile">个人信息</a></li>
                <li><a href="/accounts/password">修改密码</a></li>
                <li><a href="/accounts/message">我的信息</a></li>
                <li><hr></li>
                <li><a href="/accounts/logout">退出</a> </li>
            </ul>
        </div>
        <!-- account menu end -->

        <!-- account message tag -->
{#        <div class="account-message-tag right">#}
{#            <a href="javascript:;" data-toggle="tooltip" data-placement="bottom" title="我的消息">#}
{#                <span class="fa fa-envelope-o"></span>#}
{#                <span class="new-message">8</span>#}
{#            </a>#}
{#        </div>#}
        <!-- account message tag end -->

        <!-- account lock screen -->
        <div class="account-lock-tag right">
            <a href="javascript:;" data-toggle="tooltip" data-placement="bottom" title="锁屏">
                <span class="fa fa-lock"></span>
            </a>
        </div>
        <!-- account lock screen end -->

    </div>
    <!-- public header end -->

    <!-- public left menu -->
    <div class="left-menu-body">
        <div class="menu-item {{ menu.account }}">
            <a href="/">
                <span class="fa fa-home" data-toggle="tooltip" title="首页" data-placement="right"></span>
                <span class="menu-name">&nbsp;&nbsp;首页</span>
            </a>
        </div>

        {% for m in menu %}
        <div class="menu-item" >
            <a href="javascript:void(0);" style="{{ m.style_css }}" class="js-parent-menu">
                <span class="{{ m.icon_class }}"></span>
                <span class="menu-name">&nbsp;&nbsp;{{ m.name }}</span>
                <span class="right" id="menu-point">&nbsp;</span>
            </a>
            {% if m.childs|length > 0 %}
            <div class="menu-item-child">
            {% for c in m.childs %}
                <a href="javascript:void(0);" data-url="{{ c.url }}" class=
                        "js-sub-menu">
                    <span class="menu-name">&nbsp;&nbsp;{{ c.name }}</span>
                </a>
            {% endfor %}
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <!-- public left menu end -->

{#        <div id="content-body-main-title-img"><img src="/statics/imgs/content-body-main-head.jpg"></div>#}
{#        <div class="breadcrumbs-link">#}
{#            <ol class="breadcrumb" id="breadcrumb"><li><a href="/">首页</a></li>{% block PageNavigator %}{% endblock %}</ol>#}
{##}
{#        </div>#}
{#        <input class="body-main-search form-control" placeholder="搜索...">#}
{#        <span class="body-main-search-icon"><img src="/statics/imgs/icon/Search-icon.png"></span>#}
{#        <hr class="content-body-title-hr">#}
        <div class="content-body-main-title content-body-sheet easyui-tabs" id="content-body-sheet">

        </div>
        <div class="content-footer"><p class="footer-copyright" id="copyRight">Copyright &copy; 2015 杭州格菱网络科技有限公司 版权所有</p></div>

    <!--
    <div class="footer">
      <p class="footer-copyright">Copyright &copy; 2015 杭州格菱网络科技有限公司 版权所有</p>
    </div>
    -->

    <!-- content body end -->
</body>
<script type="text/javascript" src="/statics/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/statics/js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/statics/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/statics/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/statics/plugins/sweetalert/sweetalert.min.js"></script>
<script type="text/javascript" src="/statics/js/md5.min.js"></script>
<script type="text/javascript" src="/statics/js/base.js"></script>
<script type="text/javascript" src="/statics/js/tabs.js"></script>
<script type="text/javascript" src="/statics/js/csrf.js"></script>
<script type="text/javascript">
$(function(){
    baseApp.init();
    Tab.init();

})
</script>
{% block privateScript %}{% endblock %}
</html>