<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" media="screen"
          href="/statics/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" media="screen"
          href="/statics/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" media="screen"
          href="/statics/plugins/sweetalert/sweetalert.css">
    <link type="text/css" rel="stylesheet" media="screen"
          href="/statics/css/base.css">
    {% block privateStyle %}{% endblock %}
</head>
<body class="body-normal left-menu-open">
{% block contentBody %}{% endblock %}
</body>
<script type="text/javascript" src="/statics/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/statics/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/statics/js/bootstrap.min.js"></script>
<script type="text/javascript"
        src="/statics/plugins/sweetalert/sweetalert.min.js"></script>
<script type="text/javascript" src="/statics/js/md5.min.js"></script>
<script type="text/javascript" src="/statics/js/base.js"></script>
{% block privateScript %}{% endblock %}
</html>