<link type="text/css" rel="stylesheet" media="screen" href="/statics/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" media="screen" href="/statics/css/font-awesome.min.css">
<link type="text/css" rel="stylesheet" media="screen" href="/statics/plugins/sweetalert/sweetalert.css">
<link type="text/css" rel="stylesheet" media="screen"
      href="/statics/plugins/jquery-easyui/themes/default/easyui.css">
<link type="text/css" rel="stylesheet" media="screen" href="/statics/css/base.css">
<link type="text/css" rel="stylesheet" media="screen" href="/statics/css/products/product.css">
<link type="text/css" rel="stylesheet" media="screen" href="/statics/plugins/select2/select2.min.css">
<link type="text/css" rel="stylesheet" media="screen"
      href="/statics/plugins/datetimepicker/bootstrap-datetimepicker.min.css">
<div class="main-body content-body-main">
    {#  <h2 class="col-md-3"> {{ cname }} - <span>属性设置</span></h2>#}
    {#  <div class="utils-area col-md-2 right">#}
    {#    <a href="/product/category" role="button" class="btn btn-important" > 返回到分类设置 </a>#}
    {#  </div>#}
    <div class="select select1">
        <div class="select">
            <div class="left select-table">
                &nbsp;&nbsp;&nbsp;&nbsp;关键字：
                <input id="product-Search" class="select-text form-control" placeholder="搜索...">
            </div>
            <div class="left select-table">
                &nbsp;&nbsp;&nbsp;&nbsp;产品编号：
                <input id="product-Search" class="select-text form-control" placeholder="搜索...">
            </div>
            <div class="left select-filter">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;分类：
                <select name="product1" class="select-text form-control">
                    <option>请选择</option>
                </select>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <select name="product2" class="select-product form-control">
                    <option>请选择</option>
                </select>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <select name="product3" class="select-product form-control">
                    <option>请选择</option>
                </select>
            </div>
            <button class="btn btn-primary select1 select2" type="button">查询</button>
        </div>
    </div>
    <div class="select select1">
        <div class="select">
            <div class="left select-table">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;厂家：
                <input id="product-Search" class="select-text form-control" placeholder="搜索...">
            </div>
            <div class="left select-table">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;品牌：
                <input id="product-Search" class="select-text form-control" placeholder="搜索...">
            </div>
            <div class="left select-filter">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;系列：
            <input id="product-Search" class="select-text form-control" placeholder="搜索...">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上传日期：
            <input sid="Date-update" class="select-product form-control" size="16" type="text"
                   id="startDate-update">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;至
            <input sid="Date-update" class="select-product form-control" size="16" type="text"
                   id="startDate-update">
            </div>
{#            <button class="btn btn-primary select1 select2" type="button">导出</button>#}
        </div>
    </div>
    <div class="product-body">
        {% for product in products %}
            {% autoescape off %}
                <div class="product-info-box">
                    <ul class="list-type-none inline-block product-body-number">
                        <li>{{ product.id }}</li>
                    </ul>
                    <ul class="list-type-none inline-block product-info-box-imgBox">
                        <li><img src="/{{ product.charlet }}" class="inline-table product-info-box-img"></li>
                    </ul>
                    <ul class="list-type-none inline-block product-info-box-text">
                        <li class="">产品编号：{{ product.product_no }}</li>
                        <li class="">分类：{{ product.cname }}</li>
                        <li class="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;风格：{{ product.style }}</li>
                        <li class="">产品名称：{{ product.name }}</li>
                        <li class="">品牌：{{ product.brand }}</li>
                        <li class="">上传时间：{{ product.create_time }}</li>
                        <li class="">厂家名称：{{ product.company }}</li>
                        <li class="">系列：{{ product.series }}</li>
                        <li class="">更新时间：{{ product.update_time }}</li>
                    </ul>
                    <ul class="list-type-none link-info">
                        <a href="/product/pdt/detail?_={{ product.id }}">查看详情</a>
                    </ul>
                </div>
            {% endautoescape %}
        {% endfor %}
        <div class="right pagination-div">
            <nav>
                <ul class="pagination">
                    {% ifnotequal cur_page 1 %}
                        <li><a href="/product/pdt">|&lt;</a></li>
                        <li><a href="/product/pdt?page_id={{ cur_page|add:-1 }}&{{ url }}"><span>&lt;</span></a></li>
                    {% else %}
                        <li><span style="color: #d1d1d1;">|&lt;</span></li>
                        <li><span style="color: #d1d1d1;">&lt;</span></li>
                    {% endifnotequal %}

                    <li><a href="/product/pdt?page_id={{ cur_page }}&{{ url }}">{{ cur_page }}</a></li>

                    {% ifnotequal cur_page total_page %}
                        <li><a href="/product/pdt?page_id={{ cur_page|add:1 }}&{{ url }}">{{ cur_page|add:1 }}</a></li>
                    {% endifnotequal %}

                    {% if next %}
                        <li><a href="/product/pdt?page_id={{ cur_page|add:2 }}&{{ url }}"><span>&gt;</span></a></li>
                    {% else %}
                        <li><span style="color: #d1d1d1;">&gt;</span></li>
                    {% endif %}

                    {% ifnotequal cur_page total_page %}
                        <li><a href="/product/pdt?page_id={{ total_page }}&{{ url }}"><span>&gt;|</span></a></li>
                    {% else %}
                        <li><span style="color: #d1d1d1">&gt;|</span></li>
                    {% endifnotequal %}
                </ul>
            </nav>
        </div>
        <div class="bottom-btn-106"><a href="/product/pdt">
            <button class="btn btn-primary" type="button">返回</button>
        </a></div>
    </div>
</div>
<script type="text/javascript" src="/statics/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/statics/js/products/product.js"></script>
<script type="text/javascript" src="/statics/js/base.js"></script>
<script type="text/javascript" src="/statics/plugins/select2/select2.min.js"></script>
<script type="text/javascript" src="/statics/plugins/datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/statics/plugins/datetimepicker/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript">
    var brand_series = {% autoescape off %}{{ brand_series }}{% endautoescape %};
    var category = {% autoescape off %}{{ category }}{% endautoescape %};
    var url = {% autoescape off %}{{ urls }}{% endautoescape %};
    $(function () {
        productApp.init();
        baseApp.pickDate($('.form_date'));
    });
</script>
